In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

col_names = ['uid', 'gender', 'twitter_sub', 'twitter_foll']
dataUserProfileNYC = pd.read_csv('../datasets_original/foursquare/UserProfileNYC.txt', sep='\t', header=None, names=col_names)
dataUserProfileNYC = dataUserProfileNYC.sort_values(by='twitter_foll', ascending=False)
dataUserProfileNYC = dataUserProfileNYC.head(4515)
userList = dataUserProfileNYC.uid.tolist()

In [2]:
col_names2 = ['uid', 'datetime', 'lat', 'lng', 'vid']
df = pd.read_csv('../datasets_final/foursquare/dataset.txt', sep='\t', header=None, names=col_names2)
df_final = df[df.uid.isin(userList)]

groups2 = df_final.groupby('vid')
sizes2 = groups2.size()
min_occurences = 50
places = sizes2[sizes2>=min_occurences].index
df_final2 = df_final[df_final['vid'].isin(places)]
print(df_final2.uid.nunique())
print(df_final2.vid.nunique())
# df_final['datetime'] = pd.to_datetime(df_final.datetime).dt.strftime('%Y-%m-%dT%H:%M:%SZ')
# df_final = df_final.sort_values(['uid', 'datetime'], ascending = (True, False))
# vocabulary = list(df_final.vid.unique())
# vid_indices = dict((c, i) for i, c in enumerate(vocabulary))
# indices_vid = dict((i, c) for i, c in enumerate(vocabulary))
# newList = [vid_indices[k] for k in df_final.vid if k in vid_indices]
# df_final.vid = newList
# df_final = df_final.astype({'vid':'int'})
# df_final.to_csv(r'../datasets_final/breadcrumbs/dataset.txt', sep='\t', mode='a', header=False, index=False)
df_final2.to_csv(r'../datasets_final/foursquare_NYC_social/dataset.txt', sep="\t", mode='a', header=False, index=False)

1000
545

In [3]:
df_final2

            uid              datetime        lat        lng   vid
65592        40  2013-09-16T22:02:20Z  39.315151 -76.450446  2561
65593        40  2013-09-16T17:57:26Z  39.306426 -76.448579  2562
65594        40  2013-09-16T17:57:02Z  39.302998 -76.438955  2563
65596        40  2013-09-09T15:06:16Z  39.306426 -76.448579  2562
65597        40  2013-09-09T15:05:49Z  39.302998 -76.438955  2563
...         ...                   ...        ...        ...   ...
8176802  103980  2012-12-09T16:57:24Z  40.753987 -73.983822  6938
8176803  103980  2012-12-02T18:39:17Z  40.753987 -73.983822  6938
8176804  103980  2012-12-01T22:14:21Z  40.753987 -73.983822  6938
8176805  103980  2012-11-24T14:39:16Z  40.753987 -73.983822  6938
8176806  103980  2012-11-23T18:51:21Z  40.735282 -73.990403  3451

[49803 rows x 5 columns]