In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

col_names = ['uid', 'gender', 'twitter_sub', 'twitter_foll']
dataUserProfileNYC = pd.read_csv('../datasets_original/foursquare/UserProfileTKY.txt', sep='\t', header=None, names=col_names)
dataUserProfileNYC = dataUserProfileNYC.drop(dataUserProfileNYC[dataUserProfileNYC.gender != 'female'].index)
userList = dataUserProfileNYC.uid.tolist()

In [2]:
col_names2 = ['uid', 'datetime', 'lat', 'lng', 'vid']
df = pd.read_csv('../datasets_final/foursquare/dataset.txt', sep='\t', header=None, names=col_names2)
df_final = df[df.uid.isin(userList)]

groups2 = df_final.groupby('vid')
sizes2 = groups2.size()
min_occurences = 50
places = sizes2[sizes2>=min_occurences].index
df_final2 = df_final[df_final['vid'].isin(places)]
print(df_final2.uid.nunique())
print(df_final2.vid.nunique())
# df_final['datetime'] = pd.to_datetime(df_final.datetime).dt.strftime('%Y-%m-%dT%H:%M:%SZ')
# df_final = df_final.sort_values(['uid', 'datetime'], ascending = (True, False))
# vocabulary = list(df_final.vid.unique())
# vid_indices = dict((c, i) for i, c in enumerate(vocabulary))
# indices_vid = dict((i, c) for i, c in enumerate(vocabulary))
# newList = [vid_indices[k] for k in df_final.vid if k in vid_indices]
# df_final.vid = newList
# df_final = df_final.astype({'vid':'int'})
# df_final.to_csv(r'../datasets_final/breadcrumbs/dataset.txt', sep='\t', mode='a', header=False, index=False)
df_final2.to_csv(r'../datasets_final/foursquare_TKY_gender/dataset.txt', sep="\t", mode='a', header=False, index=False)

480
392

In [3]:
df_final2

            uid              datetime        lat         lng   vid
30475        15  2013-08-09T09:08:57Z  35.607328  139.734689    73
30480        15  2013-08-02T06:51:49Z  35.630146  139.740429   305
30482        15  2013-07-26T14:35:45Z  35.466193  139.622691    81
30483        15  2013-07-15T22:03:27Z  35.554540  139.729711  1019
30485        15  2013-07-07T22:13:12Z  35.531868  139.700196  1021
...         ...                   ...        ...         ...   ...
8120184   98178  2012-11-25T10:50:27Z  35.658900  139.703264    55
8120201   98178  2012-07-07T07:12:07Z  35.658900  139.703264    55
8129577   98776  2012-08-14T05:23:28Z  35.710350  139.812242  2539
8129586   98776  2012-08-10T09:48:47Z  35.670676  139.702524  1397
8162502  101901  2012-08-11T04:22:11Z  35.550228  139.785662  2944

[45510 rows x 5 columns]